@use 'sass:color';
@use '../shared/colors' as *;
@use '../shared/config' as *;
//@use 'config' as *;

//@keyframes fadeIn {
//    from { opacity: 0; }
//    to { opacity: 1; }
//}
//@keyframes fadeOut {
//    from { opacity: 1; }
//    to { opacity: 0; }
//}
//
//.text-correction-error { color: red; }
//.display_block{ display: block; }
//
//*{font-family: $backend_font;}

//a, a:link, a:visited, a:hover {color: var(--link); text-decoration: none;}
//@media (hover: hover){
//a:hover{color: var(--hover);}
//}
//.backend_link, a.backend_link{
//color: var(--be-link);
//	@media (hover: hover){
//		&:hover{
//		font-weight: 400;
//		color: var(--be-hover);
//		}
//	}
//}


