@use 'shared/fonts' as *;
@use 'sass:color';
@use 'shared/colors' as *;
@use 'shared/config' as *;
//@use 'accounting/config' as *;
@use 'shared/base' as *;
//@use 'accounting/base' as *;
@use 'shared/menu';
@use 'accounting/accounts';

body {
color: var(--color);  // is black
background-color: var(--green);
	#page{
	text-align: start;
		#menu{/* in shared/menu.scss */}
		#main{
/***************************************************************/
/***************** INDEX *** INDEX *** INDEX *******************/
/***************************************************************/
			.backend_table{
			padding: 0 1vw 10vw;
				table{
				@include backend_table;
				}
/***************************************************************/
/******************* SHOW *** SHOW *** SHOW ********************/
/***************************************************************/
				table.backend_show{
				padding-top: 2vw;
					td, th{
					}
					th.firstCell, td.firstCell{
					width: 30%;
					}
				}
			}
			.admin-show{
			margin-bottom: 10vw;
				h3{
				color: var(--light);
				margin-inline-start: 0.5vw;
				}
				span{
					a.right{
					//margin-inline-start: 10vw;
					}
				}
				td{
					form.form_currency{
						select {
						@include select_like_tom;
						}
					}	
				}
				td.entity-and-tax{
				display: grid;
				grid-template-columns: auto 1fr auto;
					> span{
					display: grid;
					grid-column: 1 / -1;
					grid-template-columns: none;
					align-items: center;
					row-gap: 1vw;
					padding: 2vw 0;
					border-bottom: 0.2vw solid var(--dark);
						p{
						margin: 0;
						}
						form{
						display: flex;
						justify-content: space-between;
							select{
							@include select_like_tom;
							}
							.ts-wrapper {
							min-width: 40vw;
							margin-top: 0.3vw;
							border-radius: 0.15vw;
							@include tomselect;
							}
							input[type="submit"]{
							margin-inline-start: 1.5vw;
							}
						}
						> span{
						margin-bottom: 0.25vw;
						}
					}
					> span:last-of-type{
					border: none;
					}
				}
				td form{
				@include label-checkbox;	
				}
			}
			table.admin-show{
			margin-bottom: 2vw;
			}
/***************************************************************/
/********** EDIT & NEW *** EDIT & NEW *** EDIT & NEW ***********/
/***************************************************************/
			#new_edit_view{
			padding: 0 1vw 4vw 1vw;
			margin-bottom: 6vw;
				h1, h2{
				font-size: 1.5rem;
				margin-bottom: 2vw;
					span.sub-heading{
					display: block;
					font-size: 1.2rem;
					color: var(--light);
					}
				}
				p.hint{
				margin-bottom: 2vw;
				}
				p.light{
				color: var(--blue-l40);
				}
/*************** FORMS *** FORMS *** FORMS *********************/
/************** .form_{model} **********************************/
/*************** FORMS *** FORMS *** FORMS *********************/
				.form_admin{
				width: 100%;
					@include new_edit_view_form;
					.actions.registration{
					inset-inline-start: 20vw;
					}
				}
				.admin-entity-checkboxes{
					@include new_edit_view_form;
					span{
					display: flex;
					justify-content: space-between;
					align-items: center;
					font-size: 0.85rem;
					color: var(--blue-l50);
					margin: 1vw 0;
						form{
						display: inline;
						}
					}
					@media (min-width: #{$desktop}) {
						span{
						margin: 0.5vw 0;
						}
					}
				}
			}
/***************************************************************/
/*********** NAVIGATION *** NAVIGATION *** NAVIGATION **********/
/***************************************************************/
			.crud_navigation{
			@include crud-navigation;
			}
/***************************************************************/
/**************** LOGIN *** LOGIN *** LOGIN ********************/
/***************************************************************/
			.login_form, .resend_form, .password_form, .form_user{
				fieldset{
				margin: 20vw 1vw 0.5vw 1vw;
				width: 98vw;
				padding: 3vw 7vw;
				border: 0.5vw solid white;
				text-align: start;
					legend{
					padding: 2vw;
					font-size: 1.33rem;
					color: white;
					}
					p{
					margin-top: 1vw;
						label{
						padding-inline-start: 0;
						color: var(--bkgg);
						}
						input[type="text"], input[type="password"], input[type="email"]{
						font-size: 1.1rem;
						width: 83vw;
						margin: 1vw 0 5vw;
						background-color: var(--bkgg);
						border: 0.2vw inset var(--bkgg-l20);
						border-radius: 0.4vw;
						}
						input::placeholder{
						font-size: 0.75rem;
						}
					}
					div.p_submit{
					padding-top: 2vw; 
					padding-inline-start: 0.1vw;
					margin-top: 5vw;
						input[type="submit"]{
						color: var(--color);
						font-size: 1rem;
						background-color: var(--bkgg);
						border-radius: 3vw;
						padding: 1vw 4vw 1.5vw;
						margin-bottom: 15vw;
						cursor: pointer;
							&:hover{
							background-color: var(--bkgg-l-15);
							}
						}
						div.form_links{
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
						align-content: space-between;
						width: 97vw;
						//margin: 0 -8vw 0 -7vw;
						margin-block: 0 0;
						margin-inline: -7vw -8vw;
						padding: 6vw 7vw 1vw;
						border-top: 0.5vw solid white;
							a.admin_links{
							width: 40vw;
							display: inline-flex;
							align-items: center;
							justify-content: center;
							text-align: center;
							color: var(--color);
							font-size: 0.75rem;
							background-color: var(--bkgg);
							border-radius: 2vw;
							padding: 1vw 2vw;
							margin: 0 0 2.5vw;
							cursor: pointer;
								&:hover{
								background-color: var(--bkgg-l-15);
								}
							}
						}
					}
				}
			}
/***************************************************************/
/************** SUPPORT *** SUPPORT *** SUPPORT ****************/
/***************************************************************/
			.info{
			color: var(--be-yellow);
			}
			.highlight{
			color: var(--blue);
			}
			p.info{
			margin-bottom: 3vw;
			}
/***************************************************************/
/************** ERRORS *** ERRORS *** ERRORS *******************/
/***************************************************************/
			.field_with_errors{
			border: 0.2vw solid var(--error-red);
			}
			.error_message{
			color: var(--error-yellow);
			font-weight: 400;
			padding-bottom: 1vw;
			}
			#error_explanation{
			color: #cc6600;
			position: absolute;
			top: 40vw;
			inset-inline-start: 10.5vw;
			}
		}
	}
}
/*** SMALL<500 *** SMALL<500 *** SMALL<500 *** SMALL<500 ***/
/*** SMALL<500 *** SMALL<500 *** SMALL<500 *** SMALL<500 ***/
/*** SMALL<500 *** SMALL<500 *** SMALL<500 *** SMALL<500 ***/
@media (max-width: #{$phone}) {
	body{
		#page{
			#main{
				#new_edit_view{
				margin-bottom: 20vw;
					h1{
					margin: 5vw 0;
					}
					p.hint{
					margin-bottom: 4vw;
					}
				}
			}
		}
	}
}
/*************** BIG>900 *************** BIG>900 ***************/
/*************** BIG>900 *************** BIG>900 ***************/
/*************** BIG>900 *************** BIG>900 ***************/
@media (min-width: #{$desktop}) {
	body{
		#page{
			#main{
				.backend_table{
				padding: 0 1vw 4vw;
				}
				.admin-show{
					td.entity-and-tax{
					row-gap: 0.25vw;
						> span{
						grid-template-columns: subgrid;
						column-gap: 0.5vw;
						padding: 0.1vw 0;
						border-bottom: none;
							form{
							align-items: center;
								.ts-wrapper {
								min-width: 20vw;
								}
								input[type="submit"]{
								margin-inline-start: 0.5vw;
								}
							}
							> span{
							justify-self: end; 
							margin-bottom: 0;
								a{
								margin-inline-start: 0.5vw;
								}
							}
						}
						> span:last-of-type{
						border: none;
						}
					}
				}
				#new_edit_view{
					h1 span.sub-heading{
					display: inline;
					font-size: inherit;
					color: inherit;
						&::before { content: " \2014  "; }
					}
					.form_admin{
					--select-fontsize: 0.75rem;
					}
					p.hint{
					margin-bottom: 1vw;
					}
				}
			}
		}
	}
	body.sessions, body.passwords{
	margin-top: 10vw;
		#page{
			#main{
				.login_form, .resend_form, .password_form{
					fieldset{
					//margin: 2vw 0.5vw 0.5vw 10vw;
					margin-block: 2vw 0.5vw;
					margin-inline: 10vw 0.5vw;
					width: 50vw;
					padding: 1.5vw 3vw;
					border: 0.3vw solid white;
					legend{
					padding: 0.5vw;
					}
					p{
						label{
						padding-inline-start: 0.5vw;
						}
						input[type="text"], input[type="password"], input[type="email"]{
						width: 25vw;
						margin: 0;
						}
						input::placeholder{
						}
					}
					div.p_submit{
					margin-top: 2vw;
						input[type="submit"]{
						border-radius: 1.5vw;
						padding: 0.5vw 2vw 0.6vw;
						margin-bottom: 5vw;
						}
						div.form_links{
						width: 50vw;
						//margin: 0 -3vw 0 -3.3vw;
						margin-block: 0 0;
						margin-inline: -3.3vw -3vw;
						padding: 2.5vw 3vw 0;
						border-top: 0.3vw solid white;
							a.admin_links{
							width: 20vw;
							border-radius: 0.8vw 0.8vw;
							padding: 0.5vw 2vw;
							margin: 0 0 1vw;
							}
						}
					}
				}
				}
			}
		}
	}
}
